<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Demo for "prospect" at "company"</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://use.fontawesome.com/bad73222ca.js"></script>
</head>

<body>
    <div class="content-wrapper">
        <div class="header">
            <h1>Hi "prospect",</h1>
            <h1>are you ready to boost "company's"</h1>
            <h1>customer experience?</h1>
        </div>
        <div class="intro">
            <img class="laptop" src="../static/images/empty-macbook.png">
            <p>At Surfly, we’re really excited about the prospect of us working together. We are all about connecting people, and we would love to share our knowledge with you in order to help you connect to your cliënts in a fast, secure and easy way.</p>
        </div>
        <div class="pitch">
            <p>"Inject pitch here according to title"</p>
            <div class="image-group">
                <img class="logo" src="../static/images/aegon.png">
                <img class="plus" src="../static/images/plus.png">
                <img class="surfly-logo" src="../static/images/surfly.png">
            </div>
        </div>
        <div class="dashboard">
            <img class="gif" src="../static/images/admin-queue.gif">
            <p>From your Surfly dashboard, you’ll have all the tools you need to customize your sessions, manage your agents, view your history logs and answer incoming Co-browsing requests.</p>
        </div>
        <div class="usage">
            <p> With our (video)chat you can personalize the way "company" reaches out to clients. And you can even customize our API so that it complements your website’s look, flow and feel completely. And even better, there is no client side installation needed. It’s as simple as clicking a button, or sharing a URL.</p>
            <iframe width="500" height="315" src="https://www.youtube.com/watch?v=doSdSsHC374">
    </iframe>
        </div>
        <div class="conclusion">
            <p>Wether you’re looking to improve sales by reaching out to your prospects, or if you want your helpdesk agents to be able to connect to your customers better, Surfly gives you the tools you need to decrease your call rate and increase the quality of your conversations. If you would like to learn more, please feel free to contact me, or book a demo by clicking the button below.</p>
        </div>
        <div class="closing">
            <p>Looking forward to talking to you,</p>
            <p class="consultant-name">Carolina</p>
        </div>
        <div class="calendly">
            <p>Book a demo with me</p>
            <!-- Calendly inline widget begin -->
            <div class="calendly-inline-widget" data-url="https://calendly.com/surfly/demo" style="min-width:320px;height:580px;"></div>
            <script type="text/javascript" src="https://calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->
        </div>
        <p class="copyright"><i class="fa fa-copyright" aria-hidden="true"></i> Surfly</p>
    </div>
</body>

</html>
